*{
	padding: 0px;
	margin: 0px;
}
.up{
	/*background-color: yellow;*/
	overflow: hidden;


}
.logoholder{

	height: 100px;
	width: 250px;

}
.logoholder img{
	height: 100%;
	width: 100%;
	object-fit: scale-down;
}
.corner{
	height: 800px;
	width: 130px;
	/*background-color: yellow;*/
	/*border: 2px solid ;*/
	margin: 5px;
	float: left;
}
.homelogo1{
	height: 60px
	width:100px;
	/*background-color: red;*/
	overflow: hidden;
	display: flex;
	text-align: right;
}
.homelogo{
	
	height: 40px;
	width: 40px;
	object-position: center;
	padding: 20px;
	margin: 10px;
	/*background-color: skyblue;*/
}

.homelogo img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	overflow: hidden;
	


}
.home span{
	font-size: 20px;
}
.good{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
	background-color: #f9f9f9;
	
	
}
.recom{
	padding: 10px;
	font-size: 25px;
}

.bux{
	height: 250px;
	width: 280px;
	/*background-color: yellow;*/
	margin: 10px;
	
}

.recom{
	float: left;

}
.first{
	/*background-color: blue;*/
	height: 150px;
	width: 280px;
}
.first img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.txt{
	margin: 3px;
	/*border: 1px solid;*/
	height: 100px;
	padding: 2px;

}

.smallpic{
	/*background-color:red;*/
	/*border: 1px solid;*/
	height: 40px;
	width: 40px;
	float: left;
}

.smallpic img{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	object-fit:cover;
	display: block;
}

.tittle{
	float: left;
	padding: 2px;
 	
}
